.allDeteleBtn {
  position: absolute;
  top: -33%;
  left: 80%;
  color: black;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.allDeteleBtn img {
  width: 15px;
  height: 15px;
}
