.purpose-select {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin: 0 auto; /* 가로 중앙 정렬 */
  display: block; /* 블록 요소로 설정하여 줄 바꿈을 방지합니다. */
  margin-bottom: 30px;
}
.purpose-input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin: 0 auto; /* 가로 중앙 정렬 */
  display: block; /* 블록 요소로 설정하여 줄 바꿈을 방지합니다. */
  margin-bottom: 30px;
}
