/* 모달 컨테이너 */
.container {
  width: 800px;
  height: 600px; /* 더 긴 세로 길이로 조정합니다. */
  z-index: 999;
  position: fixed; /* 모달이 화면에 고정되도록 설정합니다. */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
  overflow: auto; /* 내용이 넘칠 경우 스크롤이 생기도록 설정합니다. */
  border-radius: 5px;
}
.container span {
  font-size: 18px;
  color: gray;
}

/* 모달 내부 닫기 버튼 */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px; /* 작은 폰트 크기로 변경 */
  width: 24px; /* 너비를 작게 조정 */
  height: 24px; /* 높이를 작게 조정 */
  line-height: 24px; /* 텍스트 수직 가운데 정렬 */
  text-align: center; /* 텍스트 수평 가운데 정렬 */
  border-radius: 50%; /* 원형 모양으로 만듦 */
  background-color: transparent; /* 배경색을 투명하게 설정하여 배경을 제거합니다. */
  color: #333; /* 글자색을 지정합니다. */
  border: none; /* 테두리를 제거합니다. */
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변화에 애니메이션 효과를 추가합니다. */
}

.close:hover {
  background-color: #f0f0f0; /* 마우스를 올릴 때 배경 색상을 변경합니다. */
}
/* 등록 버튼 */
.btn-register {
  margin-top: 20px; /* 상단 여백을 줄입니다. */
  width: 100%; /* 버튼을 컨테이너에 맞게 확장합니다. */
  padding: 10px 0; /* 내부 여백을 조정합니다. */
  background-color: #007bff; /* 파란색 배경색을 설정합니다. */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변화에 애니메이션 효과를 추가합니다. */
}

.btn-register:hover {
  background-color: #0056b3; /* 마우스를 올릴 때 색상을 어둡게 변경합니다. */
}

.add-btn {
  display: flex;
  position: absolute;
  top: 30rem;
  left: 2.5rem;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 5px;
  background-color: darkblue;
  color: #ffffff;
  font-size: 20px;
}

.categoryform {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.categoryform p {
  margin-bottom: 10px;
}

.title {
  width: 90%; /* 원하는 너비로 설정하세요 */
  margin: 0 auto; /* 가로 중앙 정렬 */
  padding: 10px;
  font-size: 2em;
  color: #333; /* 원하는 색상으로 설정하세요 */
  text-align: center; /* 텍스트 가운데 정렬 */
}
